.bg1{}
.bg2{background-color: #acdeaa}
.bg3{background-color: #8fbbaf}
.bg4{background-color: #6b7b8e}
body{
    background-color: #d6f8b8
}
main{
    background-color: white;
}

.titleFont{
    font-family: 'Carter One', cursive;
}
/* mise en forme de la nav bar */
.navbar-nav >.active {
    text-decoration: none;
    position: relative;
}
.navbar-nav >.active::after {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 50%;
    background: green;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s ease-in-out;
}
.navbar-nav >.active:hover::after {
    width: 80%;
    background: orange;
}
ul{
    list-style: none;
}
section, .carousel{
    transition: .2s ease-in-out;
}
section:hover, .carousel:hover{
    transform: scale(1.01);
}
